spring:
  application:
    name: student-management-system
  datasource:
    url: jdbc:mysql://localhost:3306/student_db
    username: root
    password: root
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
  thymeleaf:
    cache: false
server:
  port: 8181
